
<header>
  <div class="ui fixed inverted massive pointing menu">
    <div class="ui container">
      <a href="{{ site.url }}" class="header item">
        <img class="logo" src="{{ site.url }}/{{ theme_path("assets/images/logomark-tekkie-white.svg") }}" />
        Tekkie Consulting
      </a>

      <div class="right menu">
        <a href="{{ site.url }}/blog" class="item {% if page.layout == 'post' or page.menu_active == 'blog' %} active{%- endif -%}">
          Blog
        </a>
        <a href="{{ site.url }}/services" class="item {% if page.menu_active == 'services' %} active{%- endif -%}">
          Services
        </a>
        <a href="{{ site.url }}/about" class="item {% if page.menu_active == 'about' %} active{%- endif -%}">
          About
        </a>
        <a href="{{ site.url }}/contact" class="item {% if page.menu_active == 'contact' %} active{%- endif -%}">
          Contact
        </a>
      </div>

    </div>
  </div>

</header>
