---
layout: home
html_id: page-home
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - posts_categories
---
{% block meta %}

  <!-- Facebook -->
  <meta property="og:title" content="{{ site.meta.fb.title }}" />
  <meta property="og:url" content="{{ site.meta.fb.url }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.meta.fb.image }}" />
  <meta property="og:description" content="{{ site.meta.fb.description }}" />
{% endblock %}

{% block content %}

<div class="ui inverted vertical masthead center aligned segment">
{% include "navigation" with { 'style': 'ui large secondary inverted pointing menu', 'logo': 'logomark-tekkie-white.svg' } %}

  <div class="ui text container">
    <h1 class="ui inverted header">
      Tekkie Consulting
    </h1>
    <h2>{{ site.company.summary }}</h2>
    <a class="ui huge primary button" href="{{ site.url }}/services">
      Get Started <i class="right arrow icon"></i>
    </a>
  </div>

</div>

  {#<div class="row services-section">#}
    {#<div class="section-intro">#}
      {#<h2 class="section-intro-title">What we do</h2>#}
      {#<div class="section-summary"><p>Tekkie Consulting offers the following high quality services.</p></div>#}
    {#</div>#}
    {##}
    {#<div class="container">#}
      {#<div class="row">#}
      {#{% for service in site.company.services %}#}
          {#<div class="col col-lg-3 col-md-3 col-sm-6 col-xs-6 margin-bottom text=center">#}
            {#<h4 class="text-center service-text {{service.title}}">{{ service.title }}</h4>#}
          {#</div>#}
      {#{% endfor %}#}
      {#</div>#}
    {#</div>#}
  {#</div>#}

  <div class="ui vertical stripe segment" id="latest-from-blog">
    <div class="ui text container">
      <h4 class="ui horizontal header divider">
          The latest news from our blog. Happy reading.
      </h4>

      {% for post in page.pagination.items %}
        {% set postTitle = post.title %}
        {% if postTitle|length > site.posts.title.shorten %}{% set postTitle = postTitle[:site.posts.title.shorten] ~ "..." %}{% endif %}
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
        <h3 class="ui header">
            {{ post.title }}
        </h3>
      </a>

          <p>
            {% if post.excerpt %}
              {{ post.excerpt }}
            {% else %}
              {{ post.blocks.content|raw[0:100] }}
            {% endif %}
          </p>

        {% if post.meta.tags %}
          <div class="card-footer m-0 p-0 text-center">
            <p class="card-text">
                {% for tag in post.meta.tags %}
                  <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="ui tag label">
                    {{ tag }}
                  </a>
                {% endfor %}
              {#<small class="text-muted">#}
                  {#{% set daysAgo = date(post.date|date('Y/m/d')).diff(date('now'|date('Y/m/d'))).days %}#}
                  {#{% if 0 == daysAgo %}Today{% elseif 1 == daysAgo %}Yesterday{% else %}{{ daysAgo }} days ago{% endif %}#}
              {#</small>#}
            </p>
          </div>
        {% endif %}

      <div class="ui hidden divider"></div>
    {% endfor %}
    </div>
  </div>

{% endblock %}
